@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* não alterar */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #1e1e2f, #3a3a5a);
  font-family: "Permanent Marker", cursive;
}

/* não alterar */
.book {
  position: relative;
  width: 420px;
  height: 620px;
  perspective: 2000px;
  transition: transform 0.8s;
}

/* não alterar */
.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;  
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* não alterar */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 8px;
}

.front h1, .back h1 {
  font-size: 30px;
}

/* não alterar */
.front {
  z-index: 2;
}

/* não alterar */
.back {
  transform: rotateY(180deg);
}

/* parte de richard */
.capa-inicio {
  background-image: url("../img-fundo/capa-inicio.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de richard */
.prefacio {
  background-image: url("../img-fundo/prefacio.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de gabi */
.sumario {
background: #e67e22;
  background-image: url(/img/sumario.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ajuste de título sumário*/
.parte-sumario{
    color: #fff;
    margin-top: 70px;
    margin-left: 20px;
}
/*fim de ajuste de título sumário*/

/* ajuste dos tópicos */
.topico{
    font-family: arial;
    color: #fff;
}
.sumario-topicos{
    margin-top: 50px;
    margin-left: 20px;
}
/*fim de ajuste de tópicos*/

/* ajuste de número de tópicos */
.numero-topicos{
    margin-top: -304px;
    margin-left: 330px;
}
.numero{
    color: #fff;
    font-family: sans-serif;
    font-weight: bolder;
}
/* fim de ajuste de número de tópicos */

/* parte de gabi */
.apresentacao {
background: #e67e22;
  background-image: url(/img/apresentacao.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ajuste de título de apresentação */
.parte-apresentacao{
    margin-left: 120px;
    color: #60152b;
    margin-top: 50px;
}
/* fim de ajuste de título de apresentação */

/* ajuste de texto de apresentação */
.apresentacao-texto{
    margin-left: 120px;
    margin-right: 50px;
    margin-top: 50px;
   text-align: justify;
}
.texto1{
    font-family: arial;
    color: #60152b;
}
/* fim de ajuste de texto de apresentação */

/* parte de gabi */
.racismo-estrutural {
background: #e67e22;
  background-image: url(/img/racismo-estrutural.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ajuste de título de racismo estrutural */
.parte-racismoEstrutural1{
    color: #e67e22;
    margin-left: 20px;
}

.parte-racismoEstrutural2{
    color: #fff;
    margin-top: -20px;
    margin-left: 20px;
}
/* fim de ajuste de título de racismo estrutural */

/* ajuste de título de conceito e traço */
.conceito{
    color: #e67e22;
    margin-left: 20px;
}
.traco{
    background-color: #fff;
    width: 70px;
    height: 3px;
    border-radius: 3px;
    margin-top: -18px;
    margin-left: 19px;
}
/* fim de ajuste de título de conceito e traço */

/* ajuste de texto de racismo estrutural */
.racismo-estruturalTexto{
    margin-left: 17px;
    margin-right: 6px;
    width: 340px;
    text-align: justify;
    height: 40px;
    font-size: 13px;
    margin-top: -5px;
}
.texto2{
   font-family: arial;
   color: #fff;
}
/* fim de ajuste de texto de racismo estrutural */

/* ajuste de container de texto de reflita */
.container{
    background-color: #560202;
    border: 1px solid #6b2020;
    border-radius: 15px;
    box-shadow: 10px 10px #e67e22;
    width: 230px;
    height: 120px;
    margin-top: 190px;
    margin-left: 70px;
}
.reflita{
    margin-top: 5px;
    margin-left: 70px;
    color: #e67e22;
}
.traco2{
    background: #fe7559;
     width: 50px;
    height: 3px;
    border-radius: 3px;
    margin-top: -20px;
    margin-left: 85px;
}
.mini-texto{
    width: 230px;
    text-align: center;
    margin-top: -5px;
    font-size: 14px;
    font-family: arial;
    color: #fff;
}

/* parte de gabi */
.racismo-escola {
background: #e67e22;
  background-image: url(/img/racismo-escola.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ajuste de título de racismo na escola */
.parte-racismoEscola1{
    color: #60152b;
}
.parte-racismoEscola2{
    margin-top: -20px;
    color: #e67e22;
}
/* fim de ajuste de título de racismo na escola */

/* ajuste de texto de racismo  na escola */
.racismo-escolaTexto{
    text-align: justify;
    width: 360px;
    font-family: arial;
    color: #60152b;
}
.texto4{
    font-size: 12px;
}
/* fim de ajuste de texto de racismo  na escola */

/* ajuste de título e texto de formas explícitas */
.forma-explicita1{
    color: #e67e22;
    margin-top: -10px;
}
.list1{
    font-family: arial;
    margin-top: -20px;
    font-size: 12px;
    color: #60152b;
}
.forma-explicita2{
    color: #60152b;
    margin-top: -10px;
}
.list2{
     font-family: arial;
    margin-top: -20px;
    font-size: 12px;
    color: #60152b;
}
.texto5{
    font-family: arial;
    font-size: 12px;
    text-align: justify;
    color: #60152b;
}
.texto5-parte1{
    color: #e67e22;
    font-size: 12px;
    font-family: arial;
    margin-top: -11px;
     text-align: justify;
}
.p5p2{
    margin-left: 75px;
}
.p5p3{
    margin-left: -75px;
    font-family: arial;
    font-size: 12px;
    margin-top: -10px;
    color: #60152b;
}
.texto5-parte2{
     font-family: arial;
    font-size: 12px;
    margin-top: -26px;
     text-align: justify;
     color: #60152b;
}
/* fim de ajuste de título e texto de formas explícitas */
/* fim da parte de gabi */

/* parte de faila */
.letramento {
background: #e67e22;
  /* background-image: url(../img/sumario.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de faila */
.discurso-poder {
background: #e67e22;
  /* background-image: url(../img/sumario.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de faila */
.glossario {
background: #e67e22;
  /* background-image: url(../img/sumario.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de faila */
.representatividade {
background: #e67e22;
  /* background-image: url(../img/sumario.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de Eloah */
.cultura-negra {
background: #e67e22;
  /* background-image: url(../img/sumario.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de Eloah */
.literatura {
background: #e67e22;
  /* background-image: url(../img/sumario.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de Eloah */
.musica {
background: #e67e22;
  /* background-image: url(../img/sumario.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de Eloah */
.outras-artes {
background: #e67e22;
  /* background-image: url(../img/sumario.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de richard */
.conclusao {
  background-image: url("../img-fundo/conclusao.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de richard */
.colaboradores {
  background-image: url("../img-fundo/colaboradores.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de richard */
.vazio {
  background-image: url("../img-fundo/sumario.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* parte de richard */
.capa-final {
  background-image: url("../img-fundo/capa-final.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* não alterar */
.flipped {
  transform: rotateY(-180deg);
}

/* não alterar */
.buttons {
  position: absolute;
  bottom: 30px;
}

/* não alterar */
button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}
